<p>sign-up works!</p>
<div fxLayout="row" fxLayoutAlign="center center" class="login-container">
    <mat-card class="login-card">
      <mat-card-content>
        <h1 class="text-center">Sign-Up</h1>
        <form>
          <div fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field appearance="outline">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required> 
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput placeholder="email" [(ngModel)]="email" name="email" required> 
            </mat-form-field>            
            <mat-form-field appearance="outline">
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Confirm Password" [(ngModel)]="confirm_password" type="password" name="confirm_password" required>
            </mat-form-field>
            <br />
            <button mat-raised-button color="primary" routerLink="/products" routerLinkActive="active">Register New Account</button>
            <br />
            <br />
              <h3 class="text-center">Already have an account?</h3>
              <button mat-raised-button color="primary" routerLink="/login" routerLinkActive="active">Login</button>

          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>