  <mat-horizontal-stepper class="checkout-stepper-background" linear="false" #stepper>
    <mat-step  [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Review Cart</ng-template>
      </form>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let item of cartItems$ | async;" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item.name}}
            </mat-panel-title>
            <mat-panel-description>
              <span>Quantity: {{item.quantity}}</span>
              <span style="padding-left: 16px;">Price: {{item.quantity * item.price | currency}}</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <button mat-raised-button color="warn" class="checkout-button">Remove Item</button>
        </mat-expansion-panel>
      </mat-accordion>

      <button mat-raised-button matStepperNext color="primary" class="checkout-button">Proceed to Checkout</button>

    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" [style.background-color]="'lightgray'" >
        <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px grid" fxLayoutGap.xs="200px">
          <ng-template matStepLabel>Shipping Info</ng-template>
          <mat-form-field class="item" fxFlex="35%">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstNameCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
          </mat-form-field>
          <mat-form-field class="item" fxFlex="35%">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastNameCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
          </mat-form-field>            
          <mat-form-field class="item" fxFlex="60%">
            <mat-label>Address</mat-label>
            <input matInput formControlName="addressCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
          </mat-form-field>

          <button mat-button class="item" fxFlex="50%" matStepperPrevious>Back</button>
          <button mat-button class="item" fxFlex="50%" matStepperNext color="primary" >Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Payment Info</ng-template>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="firstNameCtrl" placeholder="Ex. 1 Main St, New York, NY"
                   required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>    
    <mat-step>
      <ng-template matStepLabel>Complete Purchase</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>