<br>
<h1>
    Customer Dashboard
</h1>
<div class="row">
    <div class="column" fxLayout="column" fxLayoutAlign="center center">
        <h2>
            My Profile
        </h2>
        Name: {{customer.name}}
        Address: {{customer.address}}
        <br>
        <button mat-raised-button color="primary" (click)="onChangeShippingAddress()">Change Shipping Address</button>
        <br>
        <button mat-raised-button color="primary" routerLink="/home" routerLinkActive="active">Change Email
            Address</button>
        <br>
        <button mat-raised-button color="primary" routerLink="/home" routerLinkActive="active">Change Password</button>
    </div>
    <div class="column" fxLayout="column" fxLayoutAlign="center center">
        <h2>
            My Payment Methods
        </h2>
        <br>
        <button mat-raised-button color="primary" routerLink="/home" routerLinkActive="active">Add Another Payment
            Method</button>
    </div>
</div>
<div class="row">
    <div class="column" fxLayout="column" fxLayoutAlign="center center">
        <h2>
            My Orders
        </h2>
        <app-my-orders [orders]="orders"></app-my-orders>
    </div>
</div>