<br>
<h1>
    Customer Dashboard
</h1>
<div class="row">
    <div class="column" fxLayout="column" fxLayoutAlign="center center">
        <h2>
            My Profile
        </h2>
        <p>Name: {{authService.currentUser.firstName}} {{authService.currentUser.lastName}}</p>
        <br>
        <p>Address: {{authService.currentCustomer.address}}</p>
        <br>
        <br>
        <button mat-raised-button color="primary" (click)="onChangeShippingAddress()">Change Shipping Address</button>
        <br>
        <p>Email Address: {{authService.currentUser.email}}</p>
        <br>
        <br>
        <button mat-raised-button color="primary" (click)="onChangeEmailAddress()">Change Email
            Address</button>
        <br>
        <button mat-raised-button color="primary" (click)="onChangePassword()">Change Password</button>
        <br>
        <button mat-raised-button color="warn" (click)="clickedDeleteMyAccount()">Delete Account</button>
    </div>
    <div class="column" fxLayout="column" fxLayoutAlign="center center">
        <h2>
            My Payment Methods
        </h2>auathService.currentUser
        <br>
        <p>Last 4 of Credit Card: {{customer.creditcard}}</p>
        <br>
        <br>
        <button mat-raised-button color="primary" (click)="onChangePayment()">Change Credit Card on File</button>
    </div>
</div>
<div class="row">
    <div class="column" fxLayout="column" fxLayoutAlign="center center">
        <h2>
            My Orders
        </h2>
        <button mat-raised-button color="primary" (click)="onReturnItem()">Return an Item</button>
        <app-my-orders [orders]="orders"></app-my-orders>
    </div>
</div>