<div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="16px grid"
  fxLayoutGap.xs="0">
  <div class="item" fxFlex="60%" >
    <mat-tab-group [backgroundColor]="'accent'">
        <mat-tab label="Manage Customers"><app-manage-customers></app-manage-customers></mat-tab>        
        <mat-tab label="Manage Suppliers"><app-manage-suppliers></app-manage-suppliers></mat-tab>
        <mat-tab label="Manage Inventory"><app-manage-inventory></app-manage-inventory></mat-tab>
        <mat-tab label="Manage Products"><app-manage-products></app-manage-products></mat-tab>
      </mat-tab-group>
  </div>
</div>



